@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap");


* {
    margin: 0
} 

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav {
    background-color: #3c4979;
    color: #e0e0e0;
    padding: 2em;
}

nav label {
    font-size: 24px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px;
    height: auto;
    font-family: sans-serif;
}

.app {
    width: 70%;
    margin: 1px auto;
}



.app h1 {
    color: white;
    font-size: 40px;
    padding: 10px 0;
    text-align: center;
    border-radius: .5rem .5rem 0 0;
    background-color: #de3f53;
    font-family: "Rajdhani", sans-serif;
}

.app form {
    display: flex;
    width: 100%;
    background-color: #262e4c;
}

.app form input {
    border: none;
    background-color: #3c4979;
    font-size: 18px;
    color: white;
    padding: 10px;
    width: 90%;
}

.app form button {
    border: none;
    color: white;
    background-color: #1dd2af;
    font-size: 25px;
    font-weight: 600;
    height: 42px;
    width: 10%;
}

.app ul {
    list-style: none;
    color: #e0e0e0;
    padding: 0;
}

.app ul li {
    padding: 10px;
    background-color: #262e4c;
    border-bottom: 1px solid #3a4674;
}

.check {
    width: 0.8em;
    height: 0.8em;
    cursor: pointer;
    border-radius: 50%;
    background-color: white;
    border: 1px solid rgb(255, 255, 255);
    -webkit-appearance: none;
}

.check:checked {
    background-color: #1dd2af;
}

.task {
    font-size: 18px;
    padding: 0 10px;
    width: fit-content;
    background: transparent;
    border: none;
    color: #fff;
}

.task:focus {
    outline: none;
}

.app ul li i {
    float: right;
    cursor: pointer;
}

.app ul li i:hover {
    color: rgb(255, 82, 82);
}

.completed {
    color: rgba(192, 192, 192, 0.8);
    text-decoration: line-through;
}


footer {
    background-color: #3c4979;
    color: #a7a7a7;
    font-size: 16px;
    position: absolute;
    bottom: 0;
}

footer * {
    box-sizing: border-box;
    border: none;
    outline: none;
}


footer .row.primary {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    align-items: stretch;
}

footer .column {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1em 2em;
    min-height: 15em;
}

footer h3 {
    width: 100%;
    text-align: left;
    color: white;
    font-size: 1.4em;
    white-space: nowrap;
}

footer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

footer li:not(:first-child) {
    margin-top: 0.8em;
}

footer ul li a {
    color: #a7a7a7;
    text-decoration: none;
}

footer ul li a:hover {
    color: #2a8ded;
}

.about p {
    text-align: justify;
    line-height: 2;
    margin: 0;
}

footer input,
footer button {
    font-size: 1em;
    padding: 1em;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 5px;
}

footer button {
    background-color: #c7940a;
    color: #ffffff;
}

div.social {
    display: flex;
    justify-content: space-around;
    font-size: 2.4em;
    flex-direction: row;
    margin-top: 0.5em;
}
.social i {
    color: #bac6d9;
}

.copyright {
    padding: 0.3em 1em;
    background-color: #25262e;
}

.footer-menu{
    float: left;
    margin-top: 10px;
}

.footer-menu a{
    color: #cfd2d6;
    padding: 6px;
    text-decoration: none;
}

.footer-menu a:hover{
    color: #27bcda;
}
.copyright p {
    font-size: 0.9em;
    text-align: right;
}